<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
<stringAttribute key="BRName" value="ACEPRU"/>
<stringAttribute key="ConnectionInfo" value="172.17.4.39:4414"/>
<stringAttribute key="EGName" value="TI"/>
<stringAttribute key="com.ibm.debug.wsa.attr_vm_name" value="IBM J9 VM"/>
<stringAttribute key="com.ibm.debug.wsa.attr_vm_version" value="1.8.0_321"/>
<intAttribute key="com.ibm.debug.wsa.attr_was_version" value="61"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="172.17.4.39"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="3917"/>
</launchConfiguration>